* {
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100vh!important;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
}

#root {
    overflow: auto;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
    color: black;
    background: #090b1f;
    background: radial-gradient( at 50% 70%, #200f20 40%, #090b1f 80%, #050523 100%);
    height: 100vh!important;
}

.content {
    width: 100%;
    height: 100vh!important;
    margin: 0;
    padding: 0;
}

.ui {
    position: absolute;
    z-index: 500;
    width: 25vw;
    height: 85vh;
    color: white !important;
    margin-left: 1em !important;
    margin-top: 1em !important;
}

.ui>.cH {
    overflow-y: scroll!important;
    overflow-x: hidden!important;
    height: 80vh;
    font-size: 1.1em!important;
    background-color: rgba(5, 5, 5, 0.418);
}

.cH {
    font-size: 0.em;
}

::-webkit-scrollbar-thumb {
    background: rgba(2, 120, 189, 0.212)!important;
    width: 2px!important;
    border-radius: 4px;
}

::-webkit-scrollbar {
    border-radius: 10px;
    width: 8px!important;
    background: rgba(74, 20, 140, 0.2)!important;
}

.title {
    font-size: 2em;
    padding: 0.5rem 1rem;
    margin: 0;
    cursor: pointer !important;
}

.title::first-letter {
    text-transform: uppercase;
}

.loading {
    padding: 10px;
    font-weight: 400;
    font-size: 2.5em;
    transform: translate3d(-50%, -50%, 0);
    color: #ffffff;
}

.overlay {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 7em;
    margin-bottom: 2px;
}


/*son aqui*/

.circle {
    width: 1.5em;
    height: 1.5em;
    border-radius: 250px;
    font-size: 0.4em;
    font-weight: 800;
    color: white;
    text-align: center;
    background: #0000006e;
    cursor: pointer !important;
}

.text-overlay {
    font-size: 8px;
    padding: 0 !important;
    padding-left: 2px !important;
    color: white;
    background: #0000006e;
    min-width: 7em;
    border-radius: 10px;
    text-align: left;
}

.box {
    display: inline-block;
    vertical-align: middle;
}

.info {
    background-color: #00000056;
    height: auto;
    font-size: 4px;
    color: white;
    margin: 0;
    word-wrap: break-word;
    border-radius: 5px;
}

.info>p {
    margin: 0 !important;
    margin-top: 2em;
    padding: 4px;
}